{% extends 'principal.html' %}

{% block titulo %}
    <title>Editar Empleados</title>
  {% endblock %}

{% block encabezado %}
<h2>Listado de Registro de Productos</h2>
<h2>CCOT | COMPUMASTER</h2>
{% endblock %}
{% block cuerpo%}
<section>
  <h3>Modifique la Información Necesaria</h3>
  <form method="POST">
    {% csrf_token %}

    <div class="row gtr-uniform gtr-50">
      <div class="col-6 col-12-xsmall">
        <label for="nombres">Nombres</label>
        <input type="text" name="nombres" id="nombres" required
         {{ form.nombres }}
      </div>
      <div class="col-6 col-12-xsmall">
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" id="apellidos" required
        {{ form.apellidos }}
      </div>
      <div class="col-6 col-12-xsmall">
        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" id="direccion" required
        {{ form.direccion }}
      </div>
      <div class="col-6 col-12-xsmall">
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" id="telefono" placeholder="Ingrese Número de Teléfono del Empleado" required
        {{ form.telefono }}
      </div>
      <div class="col-6 col-12-xsmall">
        <label for="puesto">Puesto</label>
        <input type="text" name="puesto" id="puesto" required
        {{ form.puesto }}
      </div>
      <div class="col-12"><br>
        <ul class="actions">
          <li><input type="submit" value="Actualizar" class="primary" /></li>
          <li><a href="{% url 'CCOT:vempleados'%}"><input type="button" value="Cancelar" class="primary" /></a></li>
        </ul>
      </div>
    </div>
</form>
</section>
{% endblock%}
