{% extends 'principal.html' %}

{% block titulo %}
    <title>Ver Usuarios</title>
  {% endblock %}

{% block encabezado %}
<h2>Listado de Registro de Productos</h2>
<h2>CCOT | COMPUMASTER</h2>
{% endblock %}
{% block cuerpo%}
<section>
  <h3>Listado</h3>
  <!--<h4>Default</h4>-->
  <div class="table-wrapper">
    {% if 'register' in request.GET %}
    <p align="center">Usuario Registrado Correctamente</p>
    {% endif %}
    <table>
      {%csrf_token%}
      <thead>
        <tr>
          <th>Correlativo</th>
          <th>Usuario</th>
          <th>Correo</th>
          <th>Login</th>
          <th>Activo</th>
          <!--<th>Creación</th>-->
          <th>Fecha Creación</th>
        </tr>
      </thead>
      <tbody>
        {%for User in object_list%}
        <tr>
          <td>{{User.id}}</td>
          <td>{{User.username}}</td>
          <td>{{User.email}}</td>
          <td>{{User.last_login}}</td>
          <td>{{User.is_active}}</td>
          <td>{{User.date_joined}}</td>
        <!--</tr>
        <td>{{Empleado.creacion}}</td>-->
        <td>
          <div class="col-12">
            <ul class="actions">
              <li><a href="{% url 'CCOT:eusuarios' User.id %}"
                style='font-size:36px' class='far'>&#xf044
              </a></li>
              

            </ul>
          </div>
        </td>
        {%empty%}
        <tr><td>No hay Usuarios Registrados</td></tr>
        {%endfor%}
      </tbody>
    </table>
    <!-- Menú de paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation" id="">
      <ul class="actions special">
        {% if page_obj.has_previous %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <!--Fin de la paginación-->
  </div>
</section>
{% endblock %}
