{% extends 'principal.html' %}

{% block titulo %}
    <title>Ventas</title>
  {% endblock %}

{% block encabezado %}
<h2>Listado de Registro de Productos</h2>
<h2>CCOT | COMPUMASTER</h2>
{% endblock %}
{% block cuerpo%}
<section>
  <div class="col-12">
    <ul class="actions">
      <li><a href="{% url 'CCOT:ventas'%}"
        style='font-size:36px' class='fa fa-user-plus'></a></li>
        <li>
          <a href="{% url 'CCOT:ventas_print'%}" style='font-size:36px'
          target="print" class="btn btn-default btn-circle">
          <span class="fa fa-print"></span></a></li>
    </ul>
  </div>
  <h3>Listado de Ventas Realizadas</h3>
  <!--<h4>Default</h4>-->
  <div class="table-wrapper">
    {% if 'register' in request.GET %}
    <p align="center">Venta Registrada Correctamente</p>
    {% endif %}
    <table>
      {%csrf_token%}
      <thead>
        <tr>
          <th>Correlativo</th>
          <th>Cliente</th>
          <!--<th>Apellidos</th>-->
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Vendedor</th>
        </tr>
      </thead>
      <tbody>
        {%for Venta in object_list%}
        <tr>
          <td>{{Venta.id}}</td>
          <td>{{Venta.cliente}}</td>
          <!--<td>{{Empleado.apellidos}}</td>-->
          <td>{{Venta.producto}}</td>
          <td>{{Venta.cantidad}}</td>
          <td>{{Venta.total}}</td>
          <td>{{Venta.empleado}}</td>
          <td>
            <div class="col-12">
              <ul class="actions">
                <li><a href="{% url 'CCOT:eventas' Venta.id %}"
                  style='font-size:36px' class='far'>&#xf044
                </a></li>
                <li>
                <a href="{% url 'CCOT:venta_print_one' Venta.id %}" style='font-size:36px'
                target="print" class="btn btn-default btn-circle">
                <span class="fa fa-print"></span></a> </li>
              </ul>
            </div>
          </td>
        </tr>
        {%empty%}
        <tr><td>No hay Productos Registrados</td></tr>
        {%endfor%}
      </tbody>
    </table>
    <!-- Menú de paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation" id="">
      <ul class="actions special">
        {% if page_obj.has_previous %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <!--Fin de la paginación-->
  </div>
</section>
{% endblock %}
